*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	
}
#my_team_box{
	font-size: 24px;
}
img{
	width: 100%;
}
.my_team_cont ul{
	overflow: hidden;
}

.my_team_cont .my_team_ul1 li{
	width: 50%;
	float: left;
	font-size: 36px;
}
.my_team_ul1{
	padding: 0.12rem 0.3rem;
	border-bottom: 0.01rem solid #CBCBCB;

}
.my_team_ul1 li img{
	max-width: 0.8rem;
	vertical-align: middle;
	margin-right: 0.1rem;
}
.my_team_member_ul{
	overflow: hidden;
	padding: 0 0.3rem;
}
.my_team_member_ul li{
	float: left;
	width: 33.333%;
	/*padding: 0.26rem 0;*/
	/*margin: 0;*/
	height: 1.4rem;
	line-height: 1.4rem;
	font-size: 36px;
	border-bottom: 0.01rem solid #CBCBCB;
}
.my_team_member_ul li img{
	max-width: 0.8rem;
	vertical-align: middle;
	margin-right:0.1rem ;
}
