input{
	border: 1px solid #95B8E7;
    border-radius: 4px;
    padding: 4px;
}
.desAgentBtn{
    float:right;margin-right:48%;padding:2px 4px;border-radius:4px;border:1px solid #95B8E7;background-color: #1E9FFF;color: white;
}
.datagrid-header-row,.datagrid-row{
	height: 40px;
	
}
.zjbox{
	float:right;margin-right:48%;padding:2px 4px;
}
